FROM php:7.3-apache

{%- if use_mysql %}
RUN docker-php-ext-install pdo pdo_mysql
{%- endif %}

{%- if persistent_source_dir %}
VOLUME /var/www/html
{%- else %}
COPY /sites/{{ login }}/{{ website_name }}/{% if root_folder %}{{ root_folder }}/{% endif %} /var/www/html/
{%- endif %}

{% if env_variables %}# Environment variables
ENV env_variables
{% endif %}

WORKDIR "/var/www/html"

EXPOSE 80
