FROM python:3.7-slim-stretch

# Setup
RUN mkdir /typhoon
WORKDIR /typhoon

{% if system_dependencies %}# System package requirements
RUN apt-get update && apt-get install -y --no-install-recommends \
    {{ system_dependencies }}
    && rm -rf /var/lib/apt/lists/*{% endif %}

{% if dependencies_files %}# Python package requirements{% endif %}
{% for df in dependencies_files %}COPY {{ df }} /typhoon/{{ df }}
{% endfor %}
{% if dependencies_files %}RUN pip3 install -U pip --no-cache-dir \
    {% for df in dependencies_files %} && pip3 install -r /typhoon/{{ df }} --no-cache-dir{% endfor %}{% endif %}

# Python source code
COPY . /typhoon

{% if env_variables %}# Environment variables
ENV {{ env_variables }}
{% endif %}

{% if build_script %}RUN cd /typhoon && {{ build_script }}
{% endif %}

# Expose the ports for the Flask server
{% for port in exposed_ports %}EXPOSE {{ port }}
{% endfor %}

# Set up Python path
ENV PYTHONPATH "/typhoon{% for d in add_to_pythonpath %}:/typhoon/{{ d }}{% endfor %}"

{% if start_script %}# Launch the script which will run the server
CMD {{ start_script }}
{% endif %}
